---
import { Image } from "astro:assets";
import carImage from "../assets/images/white-toyota-transparent.png";
---

<section class="services">
  <article class="service-card">
    <div class="service-car">
      <Image src={carImage} alt="Auto blanco" />
    </div>
    <div class="description">
      <h3>Financi치 tu auto</h3>
      <p>Ofrecemos planes de financiaci칩n adaptados a tus necesidades.</p>
      <a href="/financing">
        <button class="more-info">M치s informaci칩n</button>
      </a>
    </div>
  </article>
</section>

<style>
  .service-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      135deg,
      var(--accent-color-light),
      var(--accent-color-dark)
    );
    color: white;
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: var(--box-shadow);
    padding-right: 4em;
    padding-left: 4em;
  }

  .service-card img {
    min-width: 200px;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .service-card {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
